@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!--Indicadores-->
<div class="carousel-indicators">
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
</div>

<!--Imagenes-->
<div class="carousel-inner">
    <div class="carousel-item active c-item">
        <img src="~/imagenes/ordenador2.jpg" class="d-block w-100 c-img" alt="laptop-1">
    </div>
    <div class="carousel-item c-item">
        <img src="~/imagenes/tarjeta de video.jpg" class="d-block w-100 c-img" alt="laptop-2">
    </div>
    <div class="carousel-item c-item">
        <img src="~/imagenes/ordenador1.jpg" class="d-block w-100 c-img" alt="laptop-3">
    </div>
    <div class="carousel-item c-item">
        <img src="~/imagenes/escritorio.jpg" class="d-block w-100 c-img" alt="laptop-3">
    </div>
    <div class="carousel-item c-item">
        <img src="~/imagenes/ordenador3.jpg" class="d-block w-100 c-img" alt="laptop-3">
    </div>
</div>

<!--Botones controladores-->
<button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>

<div class="titulo-carrusel">
    <div class="centrar-contenido">
        <h1 class="texto-about fw-bolder text-capitalize">Bienvenido</h1>
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="font-size: 17px; color: white; ">
            @UserManager.GetUserName(User)
        </a>
    </div>
</div>

<style>
    .titulo-carrusel {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height:30vh;
    }

    .centrar-contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

