<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemasWeb01</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-vgaM0viTzJp4S9Dq0MlEGYZoc3O4W1n8f82etpYNsHVYwWqGCd3fIzzI+1u1wWx8U2XZd/jbzDlpESyzQeGwCA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  
  


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/SistemasWeb01.styles.css" asp-append-version="true" />
    
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
    </svg>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
   

   
    <!--iconos bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body style="background-image: url('https://img.freepik.com/vector-gratis/fondo-monocromatico-blanco-estilo-papel_52683-66443.jpg?w=740&t=st=1687727531~exp=1687728131~hmac=2ac09a8bb676b357f579c711bb386f9c03d86fea4ce9cc6ca4817d2816146bf9'); background-size: cover;">
    <!-- Contenido de tu página -->

    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom mb-3 fixed-top" id="barra-navegacion" style="background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% )">
            <div class="container">
                <a class="navbar-brand  " asp-area="" asp-controller="Producto" asp-action="Mensajepro" style="font-family: 'Fugaz One', cursive; color: gold"><i class="bi bi-display"></i> TecnoBoliviaSC</a>
                <button class="navbar-toggler" style="background-color: gold;" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-family: 'Open Sans', sans-serif;font-weight: bold; font-size: 17px; color: gold; ">
                        <li class="nav-item">
                            <a class="nav-link text-white " asp-area="" asp-controller="Producto" asp-action="Mensajepro">Inicio</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-area="" asp-controller="About" asp-action="Index">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Registrar
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Producto" asp-action="Index">
                                        <i class="bi bi-box"></i> Productos
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Categoria" asp-action="Index">
                                        <i class="bi bi-list-check"></i> Categorías
                                    </a>
                                </li>
                            </ul>
                        </li>

                        

                        <li class="nav-item">
                          
                        </li>
                        
                        <li class="nav-item ">
                            <a class="nav-link text-white" asp-area="" asp-controller="Contacto" asp-action="CreateContacto">Contacto</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0" >
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Producto" asp-action="Search" style="color: white;font-size: 17px;font-weight: bold;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" style="color:gold;" viewBox="0 0 16 16">
                                    
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                                <span style="margin-left: 2px;">Buscar</span>
                            </a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
           



        </nav>



    </header>
    <div class="container-fluid px-0">
        <main role="main" class="pb-3 mb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5" style="background-image: linear-gradient(99deg, rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118%)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start">
                    <span style="color: white; font-weight: bold;">&copy; 2023 - SistemasWeb - Autor: Brayan G</span>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/tu-pagina-de-facebook" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-facebook bi-lg"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/tu-cuenta-de-instagram" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-instagram bi-lg"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.twitter.com/tu-cuenta-de-twitter" target="_blank" rel="noopener noreferrer">
                                <i class="bi bi-twitter bi-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


    ﻿
