@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<ul class="navbar-nav  ">
    @if (SignInManager.IsSignedIn(User))
    {
       @* <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" style="font-size: 17px; color: white;">
                <i class="fas fa-user-circle"></i> Hola @UserManager.GetUserName(User)!
            </a>
        </li>*@
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link" style="font-size: 17px; font-weight: bold;color: gold;">
                    <i class="fas fa-sign-out-alt"></i> <span style="color: white;">Cerrar sesión</span>
                </button>
            </form>
        </li>

    }
    else
    {
        
        <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login" style="font-size: 17px; color: gold;font-weight: bold;">
                <i class="bi bi-person-circle"></i> <span style="color: white;">Iniciar Sesión</span>
            </a>
        </li>
    }
</ul>
<style>
    .navbar-nav {
        margin-left: 0px;
    }
    
    </style>

