<h3 class="my-5 text-center text-success">
    @ViewBag.ContactoCreatedMessage
</h3>

<style>
    .custom-message {
        font-size: 24px;
        color: #333;
        text-align: center;
        /* Otros estilos personalizados */
    }
</style>