@model ProductoListViewModel

<h2>Crear Producto</h2>


<form asp-action="Crear" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="productoClass.NombreProducto"></label>
        <input asp-for="productoClass.NombreProducto" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="productoClass.PrecioProducto"></label>
        <input asp-for="productoClass.PrecioProducto" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="productoClass.DescripcionProducto"></label>
        <input asp-for="productoClass.DescripcionProducto" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="productoClass.CategoriaId"></label>
        <select asp-for="productoClass.CategoriaId" class="form-control">
            <option value="">Seleccionar una categoría</option>
            @foreach (var categoria in Model.categorias)
            {
                <option value="@categoria.CategoriaId">@categoria.NombreCategoria</option>
            }
        </select>
        <input id="estado" type="checkbox" asp-for="productoClass.Deleted" checked />
    </div>
    <div id="previewContainer">
        <img id="preview" src="#" alt="Vista previa de la imagen" />
    </div>
    <label for="ImagenProducto">Imagen:</label>

    <input accept="image/*" type="file" id="imagen" name="imagen" onchange="actualizarNombreImagen()">
    <input asp-for="productoClass.ImagenProducto" type="text" id="nombreImagen" class="form-control">  @*esto estara invisible*@

    
    <button type="submit" class="btn btn-primary btnGuardar">Crear Producto</button>
</form>

<script>
    function actualizarNombreImagen() {
        var inputImagen = document.getElementById('imagen');
        var inputNombreImagen = document.getElementById('nombreImagen');
        inputNombreImagen.value = inputImagen.files[0].name;
    }
    function previewImage(input) {
        var preview = document.querySelector('#preview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    document.querySelector('#imagen').addEventListener('change', function () {
        previewImage(this);
    });
</script>
<style>
    #estado {
        display: none;
    }

    
    #nombreImagen {
        display: none;
    }

    #imagen {
        display: block;
        margin-top: 15px;
    }


    .form-group {
        padding: 8px 0px;
    }

    .btnGuardar {
        margin-top: 10px;
    }

    #previewContainer {
        width: 300px;
        height: 300px;
        background-image: url('https://static.vecteezy.com/system/resources/previews/004/141/669/non_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg');
        background-repeat: no-repeat;
        background-position: center;
        border: dashed rgb(123,123,123) 2px;
        border-radius: 10px;
        background-size: cover;
        overflow: hidden;
    }

    #preview {
        width: 100%;
    }

</style>