<style>
    .seccionsearch {
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .search-container {
        text-align: center;
        margin-bottom: 20px;
    }

        .search-container input[type="text"] {
            padding: 8px 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .search-container button {
            padding: 8px 16px;
            background-color: #4CAF50;
            border: none;
            color: white;
            border-radius: 4px;
            cursor: pointer;
        }

    .product-card {
        background-color: white;
        width: 100%;
        max-width: 230px;
        height: auto;
        margin-bottom: 20px;
        margin-right: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }

        .product-card img {
            width: 70%;
            height: auto;
            margin-bottom: 10px;
        }

        .product-card h4 {
            margin-bottom: 20px;
            padding: 0;
            font-size: 18px;
            color: #333;
        }

        .product-card p {
            margin: 0;
            padding: 0;
            font-size: 16px;
            color: #777;
        }
</style>

<section class="container seccionsearch">
    <div class="search-container">
        <h3>Ingresa el producto que deseas buscar</h3>
        <input id="txtProductoNombre" type="text" placeholder="Escribe aquí...">
        <button id="searchButton">Buscar</button>
    </div>

    <div id="tblProductos" class="row justify-content-center"></div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("button").click(function () {
            var searchQuery = $.trim($("#txtProductoNombre").val());
            $("#tblProductos").empty();
            $.ajax({
                type: "POST",
                url: "/api/Search",
                data: "\"" + searchQuery + "\"",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (productos) {
                    $.each(productos, function (i, producto) {
                        var productCard = $('<div class="product-card col-sm-6 col-md-4 col-lg-3">');

                        productCard.append('<img src="/imagenes/' + producto.imagenProducto + '">');
                        productCard.append('<h4><a href="/Producto/details/' + producto.productoId + '">' + producto.nombreProducto + '</a></h4>');

                        $("#tblProductos").append(productCard);
                    });
                },
                error: function (xhr, status, error) {
                    console.log(xhr);
                }
            });
        });
    });
</script>



