<section class="carousel slide" id="hero-carousel" data-bs-ride="carousel">
    <!--Imagenes-->
    
    <div class="titulo-sobre-nosotros">
        <h1 class="texto-about fw-bolder text-capitalize">Sobre Nosotros</h1>
    </div>

</section>



<section class="seccion-sobre-nosotros py-4">
    <div class="container">
        <div class="row">
            <!-- Desarrollo web -->
            <div class="columna col-12 col-sm-12 col-md-6 mt-5">
                <h3 class="title-big">Acerca de <span>Nosotros</span></h3>
                <p>
                    Somos un grupo de personas amantes de la tecnología que busca brindar soluciones en equipos de computación de última tecnología, Contamos con todo tipo de
                    computadores, de las marcas más reconocidas en el mercado, También ofrecemos soluciones de mantenimiento y actualización de software.
                    Esperamos ser la tienda online de equipos de computadoras más confiable y accesible de Bolivia ofreciendo soluciones
                    de manera eficiente y de garantia.
                </p>
                <p>
                    Tienda Online en su compromiso de ofrecer un servicio de calidad para todos nuestros clientes hemos nuestra tienda online para que el servicio
                    de atención al cliente sea más rápido y así ofrecer una buena experiencia al usuario. Contamos con sucursales en varias ciudades de Bolivia, además damos soporte técnico.
                </p>


            </div>

            <div class="columna col-12 col-sm-12 col-md-6  d-flex justify-content-center align-items-center">
                <img src="~/imagenes/61ZRFy6GZ4L._AC_SX679_.jpg" class="d-block w-100 c-img" alt="laptop-2">
            </div>
        </div>



    </div>

</section>
