html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
body {
    margin: 0;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    color: #333;
    text-align: left;
   
}
.rating {
    color: red; /* Cambia el color de las estrellas según tus preferencias */
}
.star {
    font-size: 20px; /* Cambia el tamaño de las estrellas según tus preferencias */
}
.mt-50 {
    margin-top: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
}

.card-img-actions {
    position: relative;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
}

.card-img {
    width: 220px;
}


.bg-cart {
    background-color: #7533F9;
    color: #fff;
}

    .bg-cart:hover {
        color: #fff;
    }

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px;
}

    .bg-buy:hover {
        color: #fff;
    }

a {
    text-decoration: none !important;
}



#barra-navegacion {
    background-color: #7DAE98;
    
}

.titulo-carrusel {
    position: absolute;
}

.carousel {
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


.c-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.img-item {
    height: 50vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.img-about {
    background-color: #0b0d0e;
    width: 100%;
    object-fit: cover;
    height: 300px;
    /*filter: brightness(0.6);*/
}

/* home*/
.banner {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    background-color: aquamarine;
    height: 300px;
}

.row {
    height: auto;
}

.principal {
    height: 300px;
}

.carousel-caption p {
    margin-top: 120px;
}

.logo {
    font-size: 40px;
}

.seccion {
    margin-top: 100px;
}
.bi-lg {
    font-size: 30px; /* Ajusta el tamaño según tus preferencias */
    margin-right: 10px;
}


